## db
DATABASE_URL="postgres://postgres:postgres@localhost:5432/nazoratchi?schema=public" # default

## port
PORT=?

## jwt secret
ACCESS_SECRET=?
REFRESH_SECRET=?

## jwt expire
ACCESS_EXPIRE=?
REFRESH_EXPIRE=?

# NODE_ENV=production
NODE_ENV=?